@import 'colors';
@import 'dimensions';

.p-customer_page_header{
  width: 100%;
  background-color: $light_gray;
}

.p-customer-login-form, .p-customer-form{
  padding: $wide * 2;
  border-radius: $wide;
  border: solid 1px $dark_cyan;
  background-color: $very_light_gray;
}

.p-customer-tbl{
  .p-customer-tbl__email, .p-customer-tbl__date {font-family: monospace;}
  .p-customer-tbl__boolean {text-align: center}
  .p-customer-tbl__actions{
    text-align: center;
    color: $dark_gray;
  }
}
