ul.menu.list-group.py-3
  li.list-group-item.list-group-item-action = link_to '職員管理', :admin_staff_members
  li.list-group-item.list-group-item-action = link_to '職員のログイン・ログアウト記録', :admin_staff_events
