@import 'colors';
@import 'dimensions';

.p-staff_page_header{
  width: 100%;
  background-color: $light_gray;
}

.p-staff-login-form{
  padding: $wide * 2;
  border-radius: $wide;
  border: solid 1px $dark_cyan;
  background-color: $very_light_gray;
}

.p-staff-tbl{
  .p-staff-tbl__email, .p-staff-tbl__date {font-family: monospace;}
  .p-staff-tbl__boolean {text-align: center}
  .p-staff-tbl__actions{
    text-align: center;
    color: $dark_gray;
  }
}

div.field_with_errors{
  label { color: $red; }
  input { background-color: $pink; }
}

div.error-message {
  color: $red;
  padding: 0 $very_wide;
  :before{
    content: '*';
    padding-left: $narrow;
  }
}

div.error-message:before {
  content: '*';
  padding-left: $narrow;
}
