@import 'colors';
@import 'dimensions';

.p-staff_page_header{
  width: 100%;
  background-color: $light_gray;
}

.p-staff-login-form{
  padding: $wide * 2;
  border-radius: $wide;
  border: solid 1px $dark_cyan;
  background-color: $very_light_gray;
}